In [23]:
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [24]:
df=pd.DataFrame({'color': ['red','green','blue','green','green','red','blue']})

In [25]:
encoder=OneHotEncoder()

In [26]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [27]:
encoded_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [28]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1  green         0.0          1.0        0.0
2   blue         1.0          0.0        0.0
3  green         0.0          1.0        0.0
4  green         0.0          1.0        0.0
5    red         0.0          0.0        1.0
6   blue         1.0          0.0        0.0

In [33]:
dfs=sns.load_dataset('tips')

In [37]:
gender=encoder.fit_transform(dfs[['sex']]).toarray()

In [39]:
encoded_gender= pd.DataFrame(gender,columns=encoder.get_feature_names_out())

In [40]:
encoded_gender

     sex_Female  sex_Male
0           1.0       0.0
1           0.0       1.0
2           0.0       1.0
3           0.0       1.0
4           1.0       0.0
..          ...       ...
239         0.0       1.0
240         1.0       0.0
241         0.0       1.0
242         0.0       1.0
243         1.0       0.0

[244 rows x 2 columns]

In [ ]:
pd.concat([dfs,encod